.movie-details {
  display: flex;
  background-color: #232323;
  color: #ffffff;
  padding: 20px;
  gap: 30px;
}

.movie-details img {
  max-width: 300px;
  border-radius: 4px;
}

.details-info {
  display: flex;
  flex-direction: column;
}

.details-info h2 {
  font-size: 36px;
  color: #f65261;
  margin: 0 0 10px 0;
}

.details-info p {
  margin: 5px 0;
  font-size: 16px;
  color: #ffffff;
}

.details-info p:first-of-type {
  font-weight: bold;
  font-size: 24px;
  color: #f65261;
}
