.sort-control {
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 10px;
  font-size: 16px;
}

.sort-control label {
  margin-right: 10px;
  font-weight: bold;
}

.sort-control select {
  padding: 5px;
  border-radius: 4px;
  background-color: #424242;
  color: #ffffff;
  border: 1px solid #555555;
  outline: none;
}

.sort-control select option {
  background-color: #232323;
  color: #ffffff;
}
